{% extends "base.html" %}
{% block title %}{{ t('interlude.eyebrow') }}{% endblock %}
{% block body_class %}page-interlude type-{{ type_obj.key }}{% endblock %}

{% block content %}
<div class="stage stage--narrow stage--center">

  <div class="interlude">
    <p class="interlude__eyebrow">{{ t('interlude.eyebrow') }}</p>
    <h1 class="interlude__title">
      {{ t('interlude.title', { type_name: type_obj.name })|nl2br }}
    </h1>
    <p class="interlude__desc">{{ type_obj.description }}</p>
    <p class="interlude__body">
      {{ t('interlude.body', { type_name: type_obj.name })|nl2br }}
    </p>
    <a class="btn btn--primary btn--block" href="/q/p2/1">
      {{ t('interlude.submit') }}
    </a>
  </div>

</div>
{% endblock %}
